.select-slot-time-left {
    position: absolute;
    left: 0;
    width: 38px;
    border-right: 1px solid #D9D9D9;
    height: 25px;
    padding-left: 10px;
    cursor: pointer;
    padding-top: 8px;
    padding-right: 8px;
    padding-bottom: 25px;
}
.select-slot-intervel-input.add-visa-fees1 input {
    padding-left: 45px;
}
.ofc-interview-gird-2 {
    width: 500px;
    float: left;
    display: -ms-grid;
    display: grid; 
    grid-template-columns: repeat(2, 1fr) !important;
    gap: 30px 20px;
    margin-bottom: 25px;
    grid-auto-rows: minmax(0px, auto);
}
.ofc-intervie-table table > tbody > tr > td { 
    padding-bottom: 5px;
    padding-top: 0px;
}
.m-t-0{
    margin-top: 0px !important;
    margin: 0px 0px;
}
.ofc-green-clr {
    color: #2B8600;
    font-weight: 400;
}
.ofc-t-a-l {
    text-align: left !important;
}
.ofc-download-icon-svg {
    margin-right: 10px;
    vertical-align: bottom;
}

.ofc-m-l-15 {
    margin-left: 15px;
}
.ofc-model-head {
    margin-top: 0px;
}
.tab-link-ofc { 
    font-weight: 300 !important; 
    list-style: none;
    padding: 10px 40px 24px;
    color: #0D192E;
}
.tab-link-ofc.active {
    font-weight: 600 !important; 
}
.ofc-p-b-30 {
    padding-bottom: 30px;
    border-bottom: 1px solid #D9D9D9;
    margin-bottom: 30px;
}
.ofc-interview-page-grid-3 {
    float: left;
    width: 100%;
    display: block;
    margin-top: 0px;
    display: -ms-grid;
    display: grid; 
    grid-template-columns: repeat(3, 1fr) !important;
    gap: 35px 8px;
    grid-auto-rows: minmax(0px, auto);
    padding-bottom: 30px;
}
.ofc-interview-page-grid-2 {
    float: left;
    width: 100%;
    display: block;
    margin-top: 0px;
    display: -ms-grid;
    display: grid; 
    grid-template-columns: repeat(2, 1fr) !important;
    gap: 35px 8px;
    grid-auto-rows: minmax(0px, auto);
    padding-bottom: 30px;
}
.ofc-customer-profile-img {
    width: 160px;
}
.ofc-customer-profile-box-left {
    width: 50%;
    float: left;
}
.ofc-customer-profile-box-right {
    width: 50%;
    float: left;
}
.biometric-btn {
    padding: 20px 20px;
    margin-left: 15px;
    width: 225px;
    margin-bottom: 10px;
}
.biometric-btn-box{
    float: right;
    margin-right: 20px;
}
.biometric-btn-box-top { 
    border-top: 1px solid #D9D9D9;
    padding-top: 30px;
    width: 100%;
    float: right;
    bottom: 0;
    position: fixed;
    background-color: #fff;
}
.ofc-documebt-box-left {
    width: 80%;
    float: left;
    padding: 10px;
}
.ofc-documebt-box-right {
    width: 20%;
    float: left;
    padding: 10px;
}
.ofc-documebt-box-txt{
    line-height: 40px;
    font-size: 14px;
}
.ofc-thumb-img {
     
    padding-right: 0px;
}
.ofc-doc-img-head {
    background-color: rgba(255, 255, 255, 0.6);
    width: 100%;
    margin-bottom: -42px;
    z-index: 222;
    position: relative;
    height: 40px;
    padding-left: 20px;
    padding-top: 6px;
}
 

.ofc-check {
    display: block;
    position: relative;
    padding-left: 33px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding-top: 4px;
  }
  
  /* Hide the browser's default checkbox */
  .ofc-check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .ofc-check:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .ofc-check input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .ofc-check input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .ofc-check .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .biometric-btn-box-foot {
    padding-top: 30px;
    width: 100%;
    float: right;
    bottom: 0;
    position: relative;
    background-color: #fff;
}
.ofc-txt-clr-red {
    color: #FF6B00 !important; 
}
.ofc-single-grid{
gap: 35px 8px;
    grid-auto-rows: minmax(0px, auto);
    padding-bottom: 30px;
}
.ofc-doc-tab{
    display: block;
}
.m-b-40 {
    margin-bottom: 40px;
}
.drop_box1 p {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 13px;
    color: #000;
}
.browse-file-button { 
    padding: 8px 45px; 
    font-weight: 300; 
}
.drag-drop-browser-left{
    float: left;
    padding-top: 10px;
}
.drag-drop-browser-right{
    float: left;
    text-align: left;
    padding-left: 15px;
    padding-top: 10px;
}
.browes-t-a-l{
    text-align: left;
}
.tree-formbuilder-4 {
    float: left;
    width: 100%;
    display: block;
    display: -ms-grid;
    display: grid; 
    grid-template-columns: 22% 22% 22% 22% 12% !important;
    gap: 30px 20px;
    grid-auto-rows: minmax(0px, auto);
}
.m-t-37 {
    margin-top: 27px;
    margin-left: -5px;
}
@media only screen and (max-width: 1900px){
    .formbuild-gird-4 {
        float: left;
        width: 93%;
        display: block;
        margin-top: 10px;
        display: -ms-grid;
        display: grid; 
        grid-template-columns: repeat(4, 1fr) !important;
        gap: 30px 20px;
        grid-auto-rows: minmax(0px, auto);
        margin-bottom: 10px;
    }
}
@media only screen and (max-width: 1700px){
    .ofc-customer-profile-img {
        width: 140px;
    }
    .ofc-documebt-box-left {
        width: 80%;
        float: left;
        padding: 10px;
    }
    .ofc-documebt-box-right {
        width: 20%;
        float: left;
        padding: 10px;
    }
    .ofc-documebt-box-txt {
        line-height: 40px;
        font-size: 11px;
    }
    .formbuild-gird-4 {
        float: left;
        width: 92%;
        display: block;
        margin-top: 10px;
        display: -ms-grid;
        display: grid; 
        grid-template-columns: repeat(4, 1fr) !important;
        gap: 30px 20px;
        grid-auto-rows: minmax(0px, auto);
        margin-bottom: 10px;
    }
}
@media only screen and (max-width: 1500px){
.ofc-intervie-table table > thead > tr > th {
    padding-left: 7px;
    vertical-align: middle;
    line-height: 32px;
    border: 0;
    font-size: 13px !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.ofc-intervie-table table > tbody > tr > td { 
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.tab-link-ofc { 
    font-weight: 300 !important; 
    list-style: none;
    padding: 10px 20px 24px;
    color: #0D192E;
}
.ofc-documebt-box-left {
    width: 77%;
    float: left;
    padding: 10px;
}
.ofc-documebt-box-right {
    width: 23%;
    float: left;
    padding: 10px;
}
.ofc-documebt-box-txt {
    line-height: 25px;
    font-size: 11px;
}
.tree-formbuilder-4 .tree-add-icon {
    float: left;
    width: 30px;
    height: 30px;
    background: #D9D9D9;
    -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
 
    border-radius: 50%;
}
.tree-formbuilder-4 .tree-add-icon span {
    color: #000000;
    text-align: center;
    float: left;
    width: 100%;
    line-height: 32px;
    color: #000000;
    font-size: 13px;
}
.m-t-37 {
    margin-top: 27px;
    margin-left: -11px;
}
}
@media only screen and (max-width: 1200px){
    .ofc-interview-gird-2 {
        width: 100%;
        float: left;
        display: -ms-grid;
        display: grid; 
        grid-template-columns: repeat(2, 1fr) !important;
        gap: 30px 20px;
        margin-bottom: 25px;
        grid-auto-rows: minmax(0px, auto);
    }
    .ofc-customer-profile-img {
        width: 140px;
        margin-bottom: 30px;
    }
     
    
}
@media only screen and (max-width: 980px){
    .ofc-customer-profile-box-left {
        width: 100%;
        float: left;
    }
    .ofc-customer-profile-box-right {
        width: 100%;
        float: left;
    }
    .biometric-btn {
        padding: 20px 20px;
        margin-left: 15px;
        width: 47%;
        margin-bottom: 10px;
    } 
    .biometric-btn-box {
        float: right;
        margin-right: 0px;
        width: 100%;
    }
    .ofc-documebt-box-left {
        width: 100%;
        float: left;
        padding: 10px;
    }
    .ofc-documebt-box-right {
        width: 100%;
        float: left;
        padding: 10px;
    }
    .ofc-thumb-img {
        float: left;
        padding-right: 15px;
        width: 33%;
        margin-bottom: 30px;
    }
    .tab-link-ofc {
        font-weight: 300 !important;
        list-style: none;
        padding: 10px 10px 17px;
        color: #0D192E;
    }
    .ofc-doc-tab{
        display: none;
    }
    .tree-formbuilder-4 {
        float: left;
        width: 100%;
        display: block;
        display: -ms-grid;
        display: grid;  
        grid-template-columns: repeat(2, 1fr) !important;
        gap: 30px 20px;
        grid-auto-rows: minmax(0px, auto);
    }
    .m-t-37 {
        margin-top: 0px;
        margin-left: -5px;
    }
}
@media only screen and (max-width: 768px){
    .ofc-interview-gird-2 {
        width: 100%;
        float: left;
        display: -ms-grid;
        display: grid; 
        grid-template-columns: repeat(1, 1fr) !important;
        gap: 30px 20px;
        margin-bottom: 25px;
        grid-auto-rows: minmax(0px, auto);
    }
    .ofc-interview-page-grid-3 {
        float: left;
        width: 100%;
        display: block;
        margin-top: 0px;
        display: -ms-grid;
        display: grid; 
        grid-template-columns: repeat(2, 1fr) !important;
        gap: 35px 8px;
        grid-auto-rows: minmax(0px, auto);
        padding-bottom: 30px;
    }
    .biometric-btn {
        padding: 15px 10px;
        margin-left: 10px;
        width: 45%;
        margin-bottom: 10px;
        font-size: 13px;
    } 
    .ofc-documebt-box-txt {
        line-height: 40px;
        font-size: 11px;
    }
    .tab-link {
        padding: 10px 10px 25px;
        font-size: 12px;
        margin: 0 8px 0 0;
    }
}

@media only screen and (max-width: 460px){
    .tab-link {
        padding: 10px 5px 25px;
        font-size: 11px;
        margin: 0 8px 0 0;
    }
    .biometric-btn {
        padding: 15px 10px;
        margin-left: 0px;
        width: 98%;
        margin-bottom: 15px;
        font-size: 13px;
    } 
}