.icons-delete-ticket {
    width: 20px;
    float: none;
    font-size: 20px;
    margin-left: 10px;
    font-weight: 300;
    margin-right: 15px;
}

.rule-input {
    width: 60%;
    margin-bottom: 20px;
}
.tab-link-ticket{
    margin: 0 15px 0 0;
    list-style: none;
    padding: 25px 0px 20px;
    color: #0D192E;
    cursor: pointer;
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s;
    border-bottom: solid 3px rgba(255, 255, 255, 0);
    letter-spacing: 1px;
    font-size: 16px;
    font-weight: 600;
    float: left;
    width: auto;
}
.opcty-0 {
    opacity: 0;
}